# Alleen voor lokale notities. GitHub Pages leest dit bestand niet in.
# Zet echte geheimen nooit in GitHub.

GITHUB_OWNER=
GITHUB_REPO=toetredingsformulier-vzw-meulestede
GOOGLE_SCRIPT_URL=https://script.google.com/macros/s/XXXX/exec
